html {
    scroll-behavior: smooth !important;
}

body {
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    color: black !important;
}

h1 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.2em;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.stickyNavButton {
    position: fixed;
    padding: 10px;
    bottom: 50px;
    right: 20px;
    z-index: 99999;
}

.stickyNavButton img:hover {
    cursor: pointer;
    background-color: #000000;
    box-shadow: 0 12px 16px 0 rgba(241, 241, 241, 0.568), 0 17px 50px 0 #c4ec97;
}

.stickyNavButton img {
    width: 50px;
    background-color: #354a5ecc;
    border-radius: 100%;
}

.chartsSection {
    min-height: 100vh;
    background-position: center;
    background-image: url('img/bg3.png');
    background-position: center;
    background-size: cover;
}

.firstSection {
    background-image: url('img/bg1.jpg');
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    padding-top: 100px;
    text-align: center;
    min-height: 100vh;
}

.currentCourse {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

.navigationButtons {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.navigationButtons a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navigationButtons span {
    font-size: 1.4em;
}

.currencyBtnDiv {
    display: flex;
    flex-direction: column;
}

.chartBtnDiv {
    display: flex;
    flex-direction: column;
}

.currencyBtn {
    background-color: #354a5ea1;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 80px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-image: url('img/BitToDol.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.currencyBtn a {
    margin-top: 50px;
}

.currencyBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(252, 252, 252, 0.788), 0 17px 50px 0 #c4ec97;
    background-color: black;
}

.chartBtn {
    background-color: #354a5ea1;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 80px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/chartLogo.png');
    background-size: contain;
}

.chartBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(252, 252, 252, 0.788), 0 17px 50px 0 #c4ec97;
    background-color: black;
}

.infoBtnDiv {
    display: flex;
    flex-direction: column;
}

.infoBtn {
    background-color: #354a5ea1;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 80px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/infoLogo.png');
    background-size: contain;
}

.infoBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(252, 252, 252, 0.788), 0 17px 50px 0 #c4ec97;
    background-color: black;
}

.secondSection {
    color: white;
    background-image: url('img/bg2.png');
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    flex-direction: column;
    background-position: right;
    text-align: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.explainSpan {
    color: white;
    font-size: 1.5em;
    margin-top: 50px;
    width: 80%;
    margin-left: 100px;
    margin-right: 100px;
}

.currencyChangeDiv {
    text-align: center;
    justify-content: center;
    display: flex;
}

.currencyFields {
    margin-left: 250px;
    margin-right: 250px;
}

.currencyChange {
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

.currencyInput {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.currencyInput span {
    margin: 20px;
}

.currencyInput input {
    border-radius: 8px;
    padding: 20px;
}

.exchangeRate {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.showChart {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.showChart button {
    background-color: black;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.showChart button:hover {
    box-shadow: 0 12px 16px 0 rgba(241, 241, 241, 0.568), 0 17px 50px 0 #c4ec97;
}

.showChart a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.chartANDtable {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.noticeText {
    color: white;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-left: 30px;
    margin-right: 30px;
}

#startDate {
    border-radius: 8px;
}

#endDate {
    border-radius: 8px;
}

.chartANDtable input {
    background: #ffffff;
    padding: 1em;
    color: black;
    letter-spacing: 2px;
    border-radius: 8;
}

.chartANDtable span {
    font-size: 1.2em;
    color: white;
    margin: 20px;
}

.getDate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.getDate button {
    background-color: black;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 170px;
}

.getDate button:hover {
    box-shadow: 0 12px 16px 0 rgba(241, 241, 241, 0.568), 0 17px 50px 0 #c4ec97;
}

.chartDiv {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(249, 250, 250, 0.596);
}

.d-none {
    display: none !important;
}

.tableOutput {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tableOutputHolder {
    font-size: 1.2em;
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    overflow-y: scroll;
    height: 250px;
    border: thick double black;
    padding-bottom: 30px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #c2dda3);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #005068);
}

.infoSection {
    background-image: url('img/bg2.png');
    background-position: top;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: rgb(255, 255, 255);
    padding-top: 50px;
    font-size: 1.4em;
}

.longText {
    color: white;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    letter-spacing: 1px;
    font-size: 1.2em;
    padding-bottom: 40px;
}

.disclaimer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    letter-spacing: 1.2px
}

.discHeader {
    font-size: 2em;
}

.noticeText {
    margin-top: 140px;
}

@media (max-width: 900px) {
    body {
        width: 100%;
    }
    h1 {
        font-size: 1.4em !important;
        text-align: center;
    }
    h3 {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .welcomeText {
        flex-direction: column;
    }
    .explainSpan {
        width: unset !important;
        margin-left: 30px !important;
        margin-right: 30px !important;
        margin-bottom: 40px;
    }
    .currentCourse {
        margin-top: 10px !important;
        flex-direction: column;
        padding-bottom: 20px !important;
    }
    .navigationButtons {
        margin-top: 30px !important;
        text-align: center !important;
        flex-direction: column;
        margin-bottom: 30px !important;
    }
    .currencyInput {
        flex-direction: column;
    }
    .currencyChangeDiv {
        margin-top: 175px;
    }
    .secondSection {
        height: 100vh;
    }
    .chartDiv {
        margin-right: unset !important;
        margin-left: unset !important;
    }
    .exchangeRate {
        flex-direction: column;
    }
    .tableOutputHolder {
        margin-right: 50px !important;
        margin-left: 50px !important;
    }
    .longText {
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
    .infoSection {
        margin-right: unset !important;
        margin-left: unset !important;
    }
    .disclaimer {
        margin-right: unset !important;
        margin-left: unset !important;
    }
}